<app-main-top></app-main-top>
<section>
  <div class="spacer">
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-9">
          <div class="row shop-listing">
            <table class="table shop-table" *ngIf="carts.items?.length!==0">
              <tr>
                <th class="b-0">Product name</th>
                <th class="b-0">Price</th>
                <th class="b-0">Quantity</th>
                <th class="b-0 text-right">Total</th>
              </tr>
              <tr *ngFor="let item of carts.items">
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>
                  <button class="btn btn-primary btn-sm" (click)="decreaseCart(item)">-</button>
                  {{ item.quantity }}
                  <button class="btn btn-primary btn-sm" (click)="increamentQTY(item)">+</button>
                </td>
                <td class="text-right">
                  <label class="font-medium m-b-30">{{ item.price * item.quantity }}</label>
                </td>
              </tr>
              <tr>
                <td colspan="2" align="left">total money : {{ carts.subTotal }}</td>
                <td colspan="1" align="left">Total quantity :{{ carts.totalQuantity }}</td>
                <td align="right">
                  <button class="btn btn-danger" (click)="emptyCart()">Empty Cart</button>
                  <button style="margin-left: 10px;" class="btn btn-primary" routerLink="/checkout">Checkout</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-------------------------------------------------->
<ng-container *ngIf="carts.items?.length==0">
  <div class="container">
    <div class="card">
    </div>
    <div class="center">
      <img
        src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
        alt="">
      <h4>cart is empty!</h4>
      <button routerLink="/products" class="btn btn-primary">Buy now</button>
    </div>
  </div>
</ng-container>
<app-main-footer></app-main-footer>