<app-top-left></app-top-left>

<div class="detail">

    <div class="title">
        <span>&nbsp;</span>
        <!-- <a class="btn" routerLink="/admin/order-adedit">Create New</a> -->
        <h1>ORDERS LIST</h1>
    </div>

    <div class="search">
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. text" #input>
        </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let row; let i = index;">{{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header > Name </th>
                <td mat-cell *matCellDef="let row" routerLink="/admin/order-adedit/{{row.id}}"> {{row.firstName}} </td>
            </ng-container>


            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> phone </th>
                <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
            </ng-container>


            <ng-container matColumnDef="createdTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> createdTime </th>
                <td mat-cell *matCellDef="let row">
                    {{row.createdTime | date:'YYYY-MM-dd' }}
                </td>
            </ng-container>


            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td mat-cell *matCellDef="let row">
                    <a class="action" routerLink="/admin/order-adedit/{{row.id}}">
                        <i class="material-icons">mode_edit</i>
                    </a>
                    <a class="action" (click)="delete(row.id)">
                        <i class="material-icons">delete_outline</i>
                    </a>
                    <!-- <a class="action" (click)="confirmDialog(row.id)">
                        <i class="material-icons">delete_outline</i>
                    </a> -->

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="8">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>


</div>
