<app-top-bar></app-top-bar>
<app-nav></app-nav>
<!-- Login Form -->
<div class="contain" style="width: 30%; margin: auto; margin-top: 100px;">
  <div class="max-w-lg mx-auto shadow px-5 py-20 rounded overflow-hidden">
    <h2 class="text-2xl uppercase font-medium mb-1">Register an account</h2>
    <form [formGroup]="signupForm" (ngSubmit)="signup()">

      <!-- FullName -->
      <div class="mb-3">
        <label for="fullName" class="form-label">FullName</label>
        <input type="fullName" class="form-control" id="fullName" formControlName="fullName" />
        <div class="form-text text-danger"
             *ngIf="fullName.errors?.['required'] && (fullName.dirty || fullName.touched)">
             Name cannot be left blank
        </div>
        <div class="form-text text-danger"
             *ngIf="fullName.errors?.['fullName'] && (fullName.dirty || fullName.touched)">
             Invalid name
        </div>
      </div>

      <!-- FullName -->
      <div class="mb-3">
        <label for="phone" class="form-label">Phone </label>
        <input type="phone" class="form-control" id="phone" formControlName="phone" />
        <div class="form-text text-danger"
             *ngIf="phone.errors?.['required'] && (phone.dirty || phone.touched)">
             Phone number can not be left blank
        </div>
      </div>

      <!-- FullName -->
      <div class="mb-3">
        <label for="address" class="form-label">Address </label>
        <input type="address" class="form-control" id="address" formControlName="address" />
        <div class="form-text text-danger"
             *ngIf="address.errors?.['required'] && (address.dirty || address.touched)">
             address is required
        </div>
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email  </label>
        <input type="email" class="form-control" id="email" formControlName="email" />
        <div class="form-text text-danger"
             *ngIf="email.errors?.['required'] && (email.dirty || email.touched)">
             Email is required
        </div>
        <div class="form-text text-danger"
             *ngIf="email.errors?.['email'] && (email.dirty || email.touched)">
             Invalid email
        </div>
      </div>
      <!-- username -->
      <div class="mb-3">
        <label for="username" class="form-label">Username   </label>
        <input type="username" class="form-control" id="username" formControlName="username" />
        <div class="form-text text-danger"
             *ngIf="Username.errors?.['required'] && (Username.dirty || Username.touched)">
             Username is required
        </div>
        <div class="form-text text-danger"
             *ngIf="Username.errors?.['Username'] || Username.errors?.['minlength'] && (Username.dirty || Username.touched)">
             Invalid user
        </div>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" />

        <div class="form-text text-danger"
             *ngIf="Password.errors?.['required'] && (Password.dirty || Password.touched)">
             password is required
        </div>
        <div class="form-text text-danger"
             *ngIf="Password.errors?.['minlength'] || Password.errors?.['maxlength'] && (Password.dirty || Password.touched)">
             Password must be at least 6 and 15 characters long
        </div>
      </div>

      <!--  xác thực Password -->

      <div class="mb-3">
        <label for="confirmPassword" class="form-label">password authentication :</label>
        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" >
        <div class="form-text text-danger"
             *ngIf="signupForm.get('confirmPassword')?.touched && signupForm.get('password')?.value !== signupForm.get('confirmPassword')?.value">
             Authentication password is not correct
        </div>
      </div>



      <div class="mt-4">
        <button type="submit"
                class="block w-1/2 py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">
                Register
        </button >


        <button type="button"
                class="block w-1/2 py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium" routerLink="">
          Exit
        </button >
      </div>



    </form>
    <div class="mt-6 flex justify-center relative">
      <div class="absolute left-0 top-3 w-full border-b-2 border-gray-200"></div>
    </div>
    <div class="mt-4 flex gap-4">
      <a href="#"
         class="w-1/2 py-2 text-center text-white bg-blue-800 rounded uppercase font-roboto font-medium text-sm hover:bg-blue-700">facebook</a>
      <a href="#"
         class="w-1/2 py-2 text-center text-white bg-red-600 rounded uppercase font-roboto font-medium text-sm hover:bg-red-500">google</a>
    </div>
  </div>
</div>
