<app-top-left></app-top-left>

<div class="detail">
  <!-- <form [formGroup]="myForm"> -->
  <form
    [formGroup]="myForm"
    class="mat-elevation-z8"
    enctype="multipart/form-data"
  >
    <input type="hidden" formControlName="id" />

    <div class="link-nav">
      <a routerLink="/admin/vouchers">
        <i class="material-icons">keyboard_backspace</i> Back
      </a>
      <h1>Voucher</h1>
      <span *ngIf="!paramId">Create</span>
      <span *ngIf="paramId">Update</span>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label>Voucher Name</label>
        <input class="form-control" formControlName="name" />
        <!-- <small class="error" *ngIf="f.pName.invalid && (f.pName.dirty || f.pName.touched)">*Required</small> -->
      </div>

      <div class="col-md-4 mb-1em">
        <label>Voucher Rate</label>
        <div>
          <input class="form-control" formControlName="rate" />
          <!-- <mat-select class="form-control" formControlName="type"> -->
            <!-- <mat-option>Please select</mat-option> -->
            <!-- <mat-option *ngFor="let cat of categories">
                        {{cat.name}}
                    </mat-option> -->
            <!-- <mat-option *ngFor="let cat of this.categories" [value]="cat.value" >
              {{ cat.label }}
            </mat-option> -->
          <!-- </mat-select> -->
          <!-- <small class="error" *ngIf="f.pCategory.invalid && (f.pCategory.dirty || f.pCategory.touched)">*Required</small> -->
        </div>
      </div>
      <div class="col-md-4">
        <label>Voucher exemptions</label>
        <input class="form-control" formControlName="exemptions" />
        <!-- <small class="error" *ngIf="f.pName.invalid && (f.pName.dirty || f.pName.touched)">*Required</small> -->
      </div>
      <div class="col-md-4">
        <label>Voucher code</label>
        <input class="form-control" formControlName="code" />
        <!-- <small class="error" *ngIf="f.pName.invalid && (f.pName.dirty || f.pName.touched)">*Required</small> -->
      </div>


      <div class="col-md-12">
        <label>Descripton</label>
        <textarea
          class="form-control"
          formControlName="description"
          rows="4"
        ></textarea>
        <!-- <small class="error" *ngIf="f.pDesc.invalid && (f.pDesc.dirty || f.pDesc.touched)">*Required</small> -->
      </div>

      <div class="col-md-12 txt-center">
        <button *ngIf="!paramId" class="btn" (click)="submit()">Submit</button>
        <button *ngIf="paramId" class="btn" (click)="update(paramId)">Update</button>
      </div>
    </div>
  </form>
</div>
