<app-main-top></app-main-top>

<!-- Breadcrumb Start -->
<!-- <app-breadcrumb></app-breadcrumb> -->
<div class="breadcrumb-wrap">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item">
        <a routerLink="/products">Product Detail</a>
      </li>
      <li class="breadcrumb-item active">{{ product?.name }}</li>
    </ul>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Detail Start -->

<div class="container product-detail-wrap" >
  <div class="product-detail" *ngIf="product?.id">
    <div class="row">
      <div class="col-lg-12">
        <div class="product-detail-top">
          <div class="row align-items-center">
            <div class="col-md-5">
              <ng-container>
                <div class="product-slider-single normal-slider">
                  <!-- <img src="{{imgPath}}{{pImageDefault}}" alt="Product Image"> -->
                  <img src="{{ product.image }}" class="" />
                </div>
              </ng-container>
              <ng-container>
                <!-- <div *ngFor="let img of ImagesAll; let i = index" class="product-slider-single-nav normal-slider">
                                    <div class="slider-nav-img"><img src="{{imgPath}}{{img.name}}" alt="Product Image"></div>
                                </div> -->
                <div class="product-slider-single-nav normal-slider">
                  <div class="">
                    <img src="{{ product.image }}" class="w-25" alt="Product Image" />
                    <img src="{{ product.image }}" class="w-25" alt="Product Image" />
                    <img src="{{ product.image }}" class="w-25" alt="Product Image" />
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="col-md-7">
              <div class="product-content">
                <div class="title">
                  <h2>{{ product.name }}</h2>
                </div>
                <div class="ratting">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="price">
                  <h4>Price:</h4>
                  <p>{{ product?.price }}$</p>
                </div>
                <div class="quantity">
                  <h4>Quantity:</h4>
                  <div class="qty">
                    <button class="btn-minus" (click)="minus()">
                      <i class="fa fa-minus"></i>
                    </button>
                    <input #qty type="text" value="{{ qtyDefault }}" />
                    <button class="btn-plus" (click)="plus()">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
                <div class="action">
                  <a class="btn" (click)="add2cart(qtyDefault, product)"><i class="fa fa-shopping-cart"></i>Add to
                    Cart</a>
                  <a class="btn" (click)="[add2cart(qtyDefault, product), buynow()]"><i
                      class="fa fa-shopping-bag"></i>Buy Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-tab-group [backgroundColor]="'warn'">
          <mat-tab label="Description">
            <h4>Product description</h4>
            <p>
              {{ product?.description }}
            </p>
          </mat-tab>

          <mat-tab label="Reviews">

            <div class="col p-3" *ngIf=" checkLogin != 0 && checkLogin !== null">
              <h3 class="mt-4">Write Your Review</h3>
              <textarea class="w-75 p-2" [formControl]="reviewControl" ></textarea>
              <div class="d-flex align-items-start">
                <div>
                  <h6 class="text-danger" *ngIf="reviewSaved">Review Cannot Be Empty!</h6>
                </div>
                <button class="btn btn-outline-secondary mt-4 me-5" type="button" (click)="submitReview(id)" >
                  Save Review
                </button>
              </div>
            </div>

            <div class="review-slider-item">
              <h3 *ngIf="otherComments.length === 0">No Reviews Yet!</h3>
              <div class="card mt-3" *ngFor="let review of otherComments">
                <div class="card-header d-flex justify-content-between">
                  <div class="card-text">
                    {{ review.username !== null ?  review.username : "" }}
                  </div>
                  <!-- <div class="card-text fst-italic">
                    Reviewed On: <span class="fw-bold">{{review.crea }}</span>
                  </div> -->
                </div>
                <div class="card-body">
                  {{ review?.content }}
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>

        <div class="product">
          <div class="section-header">
            <h1>Related Products</h1>
          </div>

          <div class="row align-items-center product-slider product-slider-3">
            <div class="col-lg-3">
              <div class="product-item">
                <div class="product-title">
                  <a href="#">Product Name</a>
                  <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <div class="product-image">
                  <a href="product-detail.html">
                    <img src="assets/img/product-10.jpg" alt="Product Image" />
                  </a>
                  <div class="product-action">
                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                    <a href="#"><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="product-price">
                  <h3><span>$</span>99</h3>
                  <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="product-item">
                <div class="product-title">
                  <a href="#">Product Name</a>
                  <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <div class="product-image">
                  <a href="product-detail.html">
                    <img src="assets/img/product-8.jpg" alt="Product Image" />
                  </a>
                  <div class="product-action">
                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                    <a href="#"><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="product-price">
                  <h3><span>$</span>99</h3>
                  <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="product-item">
                <div class="product-title">
                  <a href="#">Product Name</a>
                  <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <div class="product-image">
                  <a href="product-detail.html">
                    <img src="assets/img/product-6.jpg" alt="Product Image" />
                  </a>
                  <div class="product-action">
                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                    <a href="#"><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="product-price">
                  <h3><span>$</span>99</h3>
                  <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="product-item">
                <div class="product-title">
                  <a href="#">Product Name</a>
                  <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <div class="product-image">
                  <a href="product-detail.html">
                    <img src="assets/img/product-4.jpg" alt="Product Image" />
                  </a>
                  <div class="product-action">
                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                    <a href="#"><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="product-price">
                  <h3><span>$</span>99</h3>
                  <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="product-item">
                <div class="product-title">
                  <a href="#">Product Name</a>
                  <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <div class="product-image">
                  <a href="product-detail.html">
                    <img src="assets/img/product-2.jpg" alt="Product Image" />
                  </a>
                  <div class="product-action">
                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                    <a href="#"><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="product-price">
                  <h3><span>$</span>99</h3>
                  <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Detail End -->

<!-- Brand Start -->
<app-brand></app-brand>
<!-- Brand End -->

<app-main-footer></app-main-footer>
