<app-top-left></app-top-left>

<div class="detail">
    <form [formGroup]="myForm" class="mat-elevation-z8 ok " enctype="multipart/form-data">
        <input type="hidden" formControlName="id">

        <div class="link-nav">
            <a routerLink="/admin/users">
                <i class="material-icons">keyboard_backspace</i> Back
            </a>
            <h1>Form User</h1>
            <span *ngIf="paramId">Create New</span> <span *ngIf="!paramId">Edit</span>
        </div>

        <div class="row">

            <div class="col-md-4">
                <label>User Name</label>
                <input class="form-control" formControlName="username">
                <small class="error"
                    *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)">*Required</small>
            </div>
            <div class="col-md-4">
                <label>name</label>
                <input class="form-control" formControlName="fullName">
                <small class="error"
                    *ngIf="f.fullName.invalid && (f.fullName.dirty || f.fullName.touched)">*Required</small>
            </div>

            <div class="col-md-4">
                <label>Email</label>
                <input class="form-control" formControlName="email" type="email">
                <small class="error" *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">*Required</small>
            </div>
            <div class="col-md-4">
                <label>Address</label>
                <input class="form-control" formControlName="address">
                <small class="error" *ngIf="f.email.invalid && (f.address.dirty || f.address.touched)">*Required</small>
            </div>
            <div class="col-md-4">
                <label>Phone</label>
                <input class="form-control" formControlName="phone">
                <small class="error" *ngIf="f.email.invalid && (f.address.dirty || f.address.touched)">*Required</small>
            </div>

            <!-- <div class="col-md-4">
              <label>Adrress</label>
              <input class="form-control" formControlName="address">
              <small class="error"
              *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)">*Required</small>
          </div>

            <div class="col-md-4">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password">
                <small class="error"
                    *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">*Required</small>
            </div> -->

            <div class="col-md-12 txt-center" *ngIf="this.Errors.status">
                <div class="error">{{this.Errors.msg}}</div>
            </div>

            <div class="col-md-12 txt-center">
                <button *ngIf="paramId" class="btn" (click)="submit()" [disabled]="this.myForm.invalid">Submit</button>
                <button *ngIf="!paramId" class="btn" (click)="update()">Update</button>
            </div>
        </div>
    </form>
</div>
