@import '../../../admin/admin.scss';

.order-search {
    min-height: 50vh;
    width: 100%;
}

.search-order-title {
    padding: 10px;
    box-shadow: 0 4px 4px 0px rgb(0 0 0 / 25%);
    border-radius: 30px;
    margin: auto;
    width: 30%;
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
}

.search-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
}

.search-input {
    border-radius: 5px;
    border: none;
    width: 35%;
    padding: 12px;
    border-radius: 5px;
    font-size: 1.2em;
}

.btn-search {
    margin-top: 16px;
    width: 108px;
    height: 40px;
    border: none;
    background: #ff6e64;
    color: white;
    border-radius: 8px;
    display: block !important;
}

.order {
    width: 50%;
    margin: 20px auto;
}

.order-title {
    display: flex;
    justify-content: space-between;
    padding: 6px 0px;
    font-size: 17px;

}

.label {
    font-size: 17px;
}

.label-title {
    font-size: 18px;
    font-weight: bold;
}

.order-item {
    display: flex;
    align-items: center;
    padding: 12px 0px;
}

.product-info {
    display: flex;
    flex: 1;
    flex-flow: column;
    padding: 0px 20px;
}

.product-name {
    font-weight: bold;
    font-size: 20px;
}

.price {
    color: red;
    font-size: 20px;
}

.total{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 20px;
  }