<app-main-top></app-main-top>

<div class="container-fluid">
    <div class="order-search">
        <div class="search-order-title">search order</div>
        <div class="search-title">
            <input #orderId nz-input class="search-input" placeholder="Enter your order code">
            <button class="btn-search" nz-button (click)="searchOrder()">Search</button>
        </div>
        <div class="order">
            <ng-container *ngIf="error == 1">
                <nz-alert nzType="error" nzMessage="please, check your order code"></nz-alert>
            </ng-container>
            <ng-container *ngIf="error == 0">
                <div class="order-info">
                    <div class="row">
                        <div class="col-5">
                            <div class="label-title" style="text-align: center; ">Thanks you. Your order has been
                                delivered
                            </div>
                            <div class="label"><span>Order code: {{order.id}}</span></div>
                            <div class="label"><span>Receiver: {{order.lastName}} {{order.firstName}}</span></div>
                            <div class="label"><span>Order date: {{order.createdTime| date:'dd/MM/yyyy'}}</span>
                            </div>
                            <div class="label"><span>Email: {{order.email}} </span> </div>
                            <div class="label"><span>Addess: {{order.address}} </span> </div>
                            <div class="label"><span>Total money: {{order.total| currency: 'USD'}}</span></div>
                        </div>
                        <div class="col-7">
                            <div class="label-title" style="text-align: center;">Order details</div>
                            <div>
                                <div *ngFor="let item of order.orderProductRelationshipEntities">
                                    <div class="order-item">
                                        <div class="image">
                                            <img class="thumb" src="{{item.product.image}}">
                                        </div>
                                        <div class="product-info">
                                            <span class="product-name">{{item.product.name}}</span>
                                            <span>Quantity: {{item.quantity}}</span>
                                            <div>
                                                <span style="color: red;">{{item.product.price | currency:
                                                    'USD'}}</span>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="price">{{item.product.price * item.quantity | currency:
                                                'USD'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="total">
                                    <span>Total money: <span style="color: red; font-size: 28ypx;">{{order.total|
                                            currency: 'USD'}}</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

</div>
<!-- Brand Start -->
<app-brand></app-brand>
<!-- Brand End -->

<app-main-footer></app-main-footer>