<ul nz-menu nzMode="inline">
  <li nz-menu-item>
    <a class="nav-link" href="#">Home</a>
  </li>
  <li
    nz-submenu
    [(nzOpen)]="openMap.sub1"
    (nzOpenChange)="openHandler('sub1')"
    nzTitle="Men Clothes"
  >
    <ul>
      <li nz-menu-item (click)="findProducts('1.1')">Hoodies</li>
      <li nz-menu-item (click)="findProducts('1.2')">Jackets, Coats</li>
      <li nz-menu-item (click)="findProducts('1.3')">Shirts</li>
      <li nz-menu-item (click)="findProducts('1.4')">Pants</li>
      <li nz-menu-item (click)="findProducts('1.5')">Shorts</li>
      <li nz-menu-item (click)="findProducts('1.6')">Sets</li>
    </ul>
  </li>
  <li
    nz-submenu
    [(nzOpen)]="openMap.sub2"
    (nzOpenChange)="openHandler('sub2')"
    nzTitle="Women Clothes"
  >
    <ul>
      <li nz-menu-item (click)="findProducts('2.1')">Hoodies</li>
      <li nz-menu-item (click)="findProducts('2.2')">Jackets, Coats</li>
      <li nz-menu-item (click)="findProducts('2.3')">Shirts</li>
      <li nz-menu-item (click)="findProducts('2.4')">Pants</li>
      <li nz-menu-item (click)="findProducts('2.5')">Shorts</li>
      <li nz-menu-item (click)="findProducts('2.6')">Sets</li>
    </ul>
  </li>
  <li
    nz-submenu
    [(nzOpen)]="openMap.sub3"
    (nzOpenChange)="openHandler('sub3')"
    nzTitle="Kids & Babies Clothes"
  >
  <ul>
    <li nz-menu-item (click)="findProducts('3.1')">Hoodies</li>
    <li nz-menu-item (click)="findProducts('3.2')">Jackets, Coats</li>
    <li nz-menu-item (click)="findProducts('3.3')">Shirts</li>
    <li nz-menu-item (click)="findProducts('3.4')">Pants</li>
    <li nz-menu-item (click)="findProducts('3.5')">Shorts</li>
    <li nz-menu-item (click)="findProducts('3.6')">Sets</li>
  </ul>
  </li>
</ul>
