<app-top-bar></app-top-bar>
<app-nav></app-nav>
<!-- Login Form -->
<div class="contain" style="width: 30%; margin: auto; margin-top: 100px;">
    <div class="max-w-lg mx-auto shadow px-5 py-20 rounded overflow-hidden">
        <h2 class="text-2xl uppercase font-medium mb-1">Login</h2>
        <p class="text-gray-600 mb-6 text-sm">welcome back</p>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <!-- Email -->
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="username" class="form-control" id="username" formControlName="username" />
                <div class="form-text text-danger"
                    *ngIf="Username.errors?.['required'] && (Username.dirty || Username.touched)">
                    Username is Required
                </div>
                <div class="form-text text-danger"
                    *ngIf="Username.errors?.['Username'] && (Username.dirty || Username.touched)">
                    Username is Invalid.
                </div>
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" />

                <div class="form-text text-danger"
                    *ngIf="Password.errors?.['required'] && (Password.dirty || Password.touched)">
                    Password is Required
                </div>
                <div class="form-text text-danger"
                    *ngIf="Password.errors?.['minlength'] || Password.errors?.['maxlength'] && (Password.dirty || Password.touched)">
                    Password should be at least 6 and at the max 15 characters long.
                </div>
            </div>

            <!-- Login Button -->
            <div class="flex items-center justify-between mt-6">
                <div class="flex items-center">
                    <input type="checkbox" name="remember" id="remember"
                        class="text-primary focus:ring-0 rounded-sm cursor-pointer" />
                    <label for="remember" class="text-gray-600 ml-3 cursor-pointer">Remember me</label>
                </div>
                <!-- <a href="#" class="text-primary">Forgot password</a> -->
            </div>
            <div class="mt-4" style="text-align: center;">
                <button type="submit"
                    class="block w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">
                    Login
                </button>
            </div>

            <div class="mt-3 text-center">
                <h3 class="text-danger">{{ message }}</h3>
            </div>
        </form>
        <div class="mt-6 flex justify-center relative">
            <div class="absolute left-0 top-3 w-full border-b-2 border-gray-200"></div>
        </div>
        <div class="mt-4 flex gap-4">
            <a href="#"
                class="w-1/2 py-2 text-center text-white bg-blue-800 rounded uppercase font-roboto font-medium text-sm hover:bg-blue-700">facebook</a>
            <a href="#"
                class="w-1/2 py-2 text-center text-white bg-red-600 rounded uppercase font-roboto font-medium text-sm hover:bg-red-500">google</a>
        </div>
    </div>
</div>