@import '../../../admin/admin.scss';

.order-title{
  display: flex;
  justify-content: space-between;
  padding: 6px 0px;
  font-size: 17px;

}

.order-item{
  display: flex;
  align-items: center;
  padding: 12px 0px;
}

.product-info{
  display: flex;
  flex: 1;
  flex-flow: column;
  padding: 0px 20px;
}

.product-name{
  font-weight: bold;
  font-size: 24px;
}

.price{
  color: red;
  font-size: 20px;
}
.total{
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 20px;
}

.my-account{
  min-height: 50vh;
}