<app-main-top></app-main-top>

<!-- Breadcrumb Start -->
<app-breadcrumb></app-breadcrumb>
<!-- Breadcrumb End -->

<!-- My Account Start -->
<div class="my-account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <!-- <a class="nav-link active" #dashboardTab id="dashboard-nav" data-toggle="pill"><i class="fa fa-tachometer-alt"></i>Dashboard</a>
                    <a class="nav-link" #orders data-toggle="pill" (click)="showOrder()"><i class="fa fa-shopping-bag"></i>Orders</a>
                    <a class="nav-link" data-toggle="pill" ><i class="fa fa-credit-card"></i>Payment Method</a>
                    <a class="nav-link" data-toggle="pill" ><i class="fa fa-map-marker-alt"></i>address</a>
                    <a class="nav-link" data-toggle="pill" href="my-account#account-tab" ><i class="fa fa-user"></i>Account Details</a> -->
                    <a class="nav-link" data-toggle="pill" *ngFor="let nav of list" (click)="show(nav.id)" [class.active]="selectedIdTab === nav.id">
                        <i [class]="nav.class"></i>{{ nav.name }}
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <ng-container [ngSwitch]="selectedIdTab">
                        <div *ngSwitchCase="1" class="tab-pane fade show active" #dashboard role="tabpanel" aria-labelledby="dashboard-nav">
                            <h4>Dashboard</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra dictum. In efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit finibus. Nulla tristique viverra nisl, sit amet bibendum ante suscipit non.
                                Praesent in faucibus tellus, sed gravida lacus. Vivamus eu diam eros. Aliquam et sapien eget arcu rhoncus scelerisque.
                            </p>
                        </div>
                        <div *ngSwitchCase="2" class="tab-pane fade show active" role="tabpanel" aria-labelledby="orders-nav">
                            <div >
                              <div *ngFor="let order of userOrder; index as i" >
                                <div class="order-title">
                                  <span>Mã đơn hàng: {{order.id}}</span>
                                  <span>Ngày đặt hàng: {{order.createdTime| date:'dd/MM/yyyy'}}</span>
                                </div>
                                <div *ngFor="let item of order.orderProductRelationshipEntities" >
                                  <div class="order-item">
                                    <div class="image">
                                      <img class="thumb" src="{{item.product.image}}" >
                                    </div>
                                    <div class="product-info">
                                      <span class="product-name">{{item.product.name}}</span>
                                      <span>Số lượng: {{item.quantity}}</span>
                                      <div>
                                      <span style="color: red;">{{item.product.price | currency: 'USD'}}</span>
                                    </div>
                                  </div>
                                  <div>
                                    <span class="price">{{item.product.price * item.quantity | currency: 'USD'}}</span>
                                  </div>
                                  </div>
                                </div>
                                <div class="total">
                                  <span>Thành tiền: <span style="color: red; font-size: 28ypx;">{{order.total| currency: 'USD'}}</span></span>
                                </div>
                                <hr *ngIf="i !== userOrder.length - 1">
                              </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show active"  *ngSwitchCase="3" id="payment-tab" role="tabpanel" aria-labelledby="payment-nav">
                            <h4>Payment Method</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra dictum. In efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit finibus. Nulla tristique viverra nisl, sit amet bibendum ante suscipit non.
                                Praesent in faucibus tellus, sed gravida lacus. Vivamus eu diam eros. Aliquam et sapien eget arcu rhoncus scelerisque.
                            </p>
                        </div>
                        <div class="tab-pane fade show active" *ngSwitchCase="4" id="address-tab" role="tabpanel" aria-labelledby="address-nav">
                            <h4>Address</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Payment Address</h5>
                                    <p>123 Payment Street, Los Angeles, CA</p>
                                    <p>Mobile: 012-345-6789</p>
                                    <button class="btn">Edit Address</button>
                                </div>
                                <div class="col-md-6">
                                    <h5>Shipping Address</h5>
                                    <p>123 Shipping Street, Los Angeles, CA</p>
                                    <p>Mobile: 012-345-6789</p>
                                    <button class="btn">Edit Address</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show active" *ngSwitchCase="5" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                            <h4>Account Details</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="form-control" type="text" placeholder="First Name">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" placeholder="Last Name">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" placeholder="Mobile">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" placeholder="Email">
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" placeholder="Address">
                                </div>
                                <div class="col-md-12">
                                    <button class="btn">Update Account</button>
                                    <br><br>
                                </div>
                            </div>
                            <h4>Password change</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="form-control" type="password" placeholder="Current Password">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" placeholder="New Password">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" placeholder="Confirm Password">
                                </div>
                                <div class="col-md-12">
                                    <button class="btn">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- My Account End -->

<app-main-footer></app-main-footer>
