<div class="top">
  <div class="container-fluid flex">
    <div class="logo  txt-left">
      <img _ngcontent-odn-c49="" src="assets/img/logo.png" alt="Logo">
    </div>

    <div *ngIf="islogin">
      <!-- {{this.adminData.firstname}} {{this.adminData.lastname}} -->
      <button class="btn" (click)="adminLogout()">Logout</button>
    </div>
  </div>
</div>
<div class="left mat-elevation-z8">
  <div class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item"><a routerLink="/admin/dashboard" routerLinkActive="active" class="nav-link"><i
            class="fa fa-tachometer-alt"></i>Dashboard</a></li>
      <li class="nav-item"><a routerLink="/admin/products" routerLinkActive="active" class="nav-link"><i
            class="fa fa-shopping-bag"></i>Products</a></li>
      <li class="nav-item"><a routerLink="/admin/users" routerLinkActive="active" class="nav-link"><i
            class="fa fa-child"></i>Users</a></li>
      <li class="nav-item"><a routerLink="/admin/orders" routerLinkActive="active" class="nav-link"><i
            class="fa fa-female"></i>Orders</a></li>
      <li class="nav-item"><a routerLink="/admin/vouchers" routerLinkActive="active" class="nav-link"><i
            class="fa fa-female"></i>Voucher</a></li>
    </ul>
  </div>
  <div class="footer">

  </div>
</div>