<app-top-left></app-top-left>

<div class="detail">

    <div class="link-nav">
        <span>&nbsp;</span>
        <a class="btn" routerLink="/admin/voucher-adedit">Create New</a>
    </div>

    <div class="search">
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. text" #input>
        </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            
            <!-- id -->
            <ng-container matColumnDef="id" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
                <td mat-cell *matCellDef="let row; let i = index;">{{i+1}} </td>
            </ng-container>



            <ng-container matColumnDef="name"  >
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Voucher Name </th>
              <td mat-cell *matCellDef="let row" routerLink="/admin/voucher-adedit/{{row.id}}">
                  {{row.name}}
              </td>
          </ng-container>

            <!-- pName -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Voucher description </th>
                <td mat-cell *matCellDef="let row"> {{row.description}} </td>
            </ng-container>

            <!-- pQty -->
            <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
                <td mat-cell *matCellDef="let row"> {{row.rate }} </td>
            </ng-container>

            <!-- pPrice -->
            <ng-container matColumnDef="exemptions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> exemptions </th>
                <td mat-cell *matCellDef="let row">
                    {{row.exemptions }}
                </td>
            </ng-container>

            <!-- pPrice -->
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> code </th>
              <td mat-cell *matCellDef="let row">
                  {{row.code }}
              </td>
          </ng-container>

            <!-- pPriceSale -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="8">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <!-- <mat-paginator [pageSizeOptions]="[2, 5, 10, 25, 100]"></mat-paginator> -->
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

</div>
