<!-- Main Slider Start -->
<app-main-banner></app-main-banner>
<!-- Main Slider End -->

<!-- Feature Start-->
<app-feature></app-feature>
<!-- Feature End-->

<!-- Category Start-->
<app-category></app-category>
<!-- Category End-->