<div class="header p-16">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <app-navbar></app-navbar>
            </div>

            <div class="col-md-7">
                <app-banner></app-banner>
            </div>

        </div>
    </div>
</div>