<div class="header-slider normal-slider">
  <div class="header-slider-item" *ngFor="let item of images; let i = index"
    [ngClass]="item.status === 1 ? 'showThis' : ''">
    <img [src]="item.image" alt="Slider Image">
    <div class="header-slider-caption-2">
      <!-- <a class="btn" href="{{item.link}}" target="_blank" rel="noopener">
        <i class="fa fa-shopping-cart"></i>Shop Now</a> -->
    </div>
  </div>
  <button class="prev" (click)="prev()">&#10094;</button>
  <button class="next" (click)="next()">&#10095;</button>
</div>