.header-slider-item {
  display: none;
}

.showThis {
  display: block;
}

.header-slider {
  position: relative;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  z-index: 1;
  opacity: 0.8;
  transition: .5s;
  background: rgba(255, 111, 97, .7);
  border-radius: 4px;
  border: none;
  color: #FFF;
}

.prev:hover,
.next:hover {
  color: rgba(255, 111, 97, .7);
  background: rgba(0, 0, 0, .7);
  border-radius: 4px;
}

.header-slider .header-slider-caption-2 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: all 0.3s;
  z-index: 1;
}