.btn{
    background-color: #180733;
  }
  .card {
    height: 60vh;
    margin: 25px;
    padding: 25px;
  }
  
  .center img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
    margin: 20px 0px;
  }
  
  h4,
  h6 {
    font-weight: 400;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
  }
  
  .center .btn {
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
  }
  

  @import '../../../admin/admin.scss';

.order-title{
  display: flex;
  justify-content: space-between;
  padding: 6px 0px;
  font-size: 17px;

}

.order-item{
  display: flex;
  align-items: center;
  padding: 12px 0px;
}

.product-info{
  display: flex;
  flex: 1;
  flex-flow: column;
  padding: 0px 20px;
}

.product-name{
  font-weight: bold;
  font-size: 24px;
}

.price{
  color: red;
  font-size: 20px;
}
.total{
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 20px;
}

.my-account{
  min-height: 50vh;
}