<app-main-top></app-main-top>
<div class="checkout" *ngIf="!success">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-inner">
                    <div class="billing-address">
                        <h2>Billing Address</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <label>First Name</label><label style="color: red;">*</label>
                                <input class="form-control" type="text" placeholder="First Name"
                                    [(ngModel)]="orderRequest.firstName">
                                <label class="form-text text-danger">{{firstNameMsg}}</label>
                            </div>
                            <div class="col-md-6">
                                <label>Last Name</label><label style="color: red;">*</label>
                                <input class="form-control" type="text" placeholder="Last Name"
                                    [(ngModel)]="orderRequest.lastName">
                                <label class="form-text text-danger">{{lastNameMsg}}</label>
                            </div>
                            <div class="col-md-6">
                                <label>E-mail</label><label style="color: red;">*</label>
                                <input class="form-control" type="text" placeholder="E-mail"
                                    [(ngModel)]="orderRequest.email">
                                <label class="form-text text-danger">{{emailMsg}}</label>
                            </div>
                            <div class="col-md-6">
                                <label>Phone</label><label style="color: red;">*</label>
                                <input class="form-control" type="text" placeholder="Phone"
                                    [(ngModel)]="orderRequest.phone">
                                <label class="form-text text-danger">{{phoneMsg}}</label>
                            </div>
                            <div class="col-md-12">
                                <label>Address</label><label style="color: red;">*</label>
                                <input class="form-control" type="text" placeholder="Address"
                                    [(ngModel)]="orderRequest.address">
                                <label class="form-text text-danger">{{addressMsg}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="checkout-inner">
                    <div class="checkout-summary">
                        <h1>Cart Total</h1>
                        <div *ngFor="let item of cart">
                            <p>{{item.name}}<span>${{item.price*item.quantity}}</span></p>
                        </div>


                        <h2>Grand Total<span>${{total}}</span></h2>
                    </div>

                    <div class="checkout-payment">
                        <div class="payment-methods">
                            <h1>Payment Methods</h1>
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-1" name="payment"
                                        value="1" [(ngModel)]="orderRequest.paymentMethod" [checked]="1 === 1">
                                    <label class="custom-control-label" for="payment-1">Paypal</label>
                                </div>
                            </div>
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-2" name="payment"
                                        value="2" [(ngModel)]="orderRequest.paymentMethod">
                                    <label class="custom-control-label" for="payment-2">Payoneer</label>
                                </div>
                            </div>
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-3" name="payment"
                                        value="3" [(ngModel)]="orderRequest.paymentMethod">
                                    <label class="custom-control-label" for="payment-3">Check Payment</label>
                                </div>
                            </div>
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-4" name="payment"
                                        value="4" [(ngModel)]="orderRequest.paymentMethod">
                                    <label class="custom-control-label" for="payment-4">Direct Bank Transfer</label>
                                </div>
                            </div>
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-5" name="payment"
                                        value="5" [(ngModel)]="orderRequest.paymentMethod">
                                    <label class="custom-control-label" for="payment-5">Cash on Delivery</label>
                                </div>
                            </div>
                            <label class="form-text text-danger">{{paymentMethodMsg}}</label>
                        </div>
                        <div class="checkout-btn">
                            <button (click)="placeOrder()">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-container *ngIf="success">
    <div class="container">
        <h2 style="text-align: center;">place order success!</h2>
        <div class="order-info">
            <div class="row">
                <div class="col-5">
                    <div class="label"><span>Order code: {{order.id}}</span></div>
                    <div class="label"><span>Receiver: {{order.lastName}} {{order.firstName}}</span></div>
                    <div class="label"><span>Order date: {{order.createdTime| date:'dd/MM/yyyy'}}</span>
                    </div>
                    <div class="label"><span>Email: {{order.email}} </span> </div>
                    <div class="label"><span>Addess: {{order.address}} </span> </div>
                    <div class="label"><span>Total money: {{order.total| currency: 'USD'}}</span></div>
                </div>
                <div class="col-7">
                    <div>
                        <div *ngFor="let item of order.orderProductRelationshipEntities">
                            <div class="order-item">
                                <div class="image">
                                    <img class="thumb" src="{{item.product.image}}">
                                </div>
                                <div class="product-info">
                                    <span class="product-name">{{item.product.name}}</span>
                                    <span>Quantity: {{item.quantity}}</span>
                                    <div>
                                        <span style="color: red;">{{item.product.price | currency:
                                            'USD'}}</span>
                                    </div>
                                </div>
                                <div>
                                    <span class="price">{{item.product.price * item.quantity | currency:
                                        'USD'}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="total">
                            <span>Total: <span style="color: red; font-size: 28ypx;">{{order.total|
                                    currency: 'USD'}}</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 20px;">
                <button style="margin: auto;" routerLink="/products" class="btn btn-primary">keep buying</button>
            </div>
        </div>
    </div>
</ng-container>
<app-main-footer></app-main-footer>