<app-top-left></app-top-left>

<div class="detail">
  <!-- <form [formGroup]="myForm"> -->
  <form
    [formGroup]="myForm"
    class="mat-elevation-z8 ok"
    enctype="multipart/form-data"
  >
    <input type="hidden" formControlName="id" />

    <div class="link-nav">
      <a routerLink="/admin/products">
        <i class="material-icons">keyboard_backspace</i> Back
      </a>
      <h1>Product</h1>
      <span *ngIf="!paramId">Create</span>
      <span *ngIf="paramId">Update</span>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label>Product Name</label>
        <input class="form-control" formControlName="name" />
        <!-- <small class="error" *ngIf="f.pName.invalid && (f.pName.dirty || f.pName.touched)">*Required</small> -->
      </div>

      <div class="col-md-4 mb-1em">
        <label>Category</label>
        <div>
          <mat-select class="form-control" formControlName="type">
            <!-- <mat-option>Please select</mat-option> -->
            <!-- <mat-option *ngFor="let cat of categories">
                        {{cat.name}}
                    </mat-option> -->
            <mat-option *ngFor="let cat of this.categories" [value]="cat.value" >
              {{ cat.label }}
            </mat-option>
          </mat-select>
          <!-- <small class="error" *ngIf="f.pCategory.invalid && (f.pCategory.dirty || f.pCategory.touched)">*Required</small> -->
        </div>
      </div>

      <div class="col-md-4">
        <label>Quantity</label>
        <input class="form-control" formControlName="quantity" />
        <!-- <small class="error" *ngIf="f.pQty.invalid && (f.pQty.dirty || f.pQty.touched)">*Required</small> -->
      </div>

      <div class="col-md-4">
        <label>Price</label>
        <input class="form-control" formControlName="price" />
        <!-- <small class="error" *ngIf="f.pPrice.invalid && (f.pPrice.dirty || f.pPrice.touched)">*Required</small> -->
      </div>

      <div class="col-md-8">
        <label>Product Image Link</label>
        <input class="form-control" formControlName="image" />
      </div>

      <div class="col-md-12">
        <label>Descripton</label>
        <textarea
          class="form-control"
          formControlName="description"
          rows="4"
        ></textarea>
        <!-- <small class="error" *ngIf="f.pDesc.invalid && (f.pDesc.dirty || f.pDesc.touched)">*Required</small> -->
      </div>

      <div class="col-md-12 txt-center">
        <button *ngIf="!paramId" class="btn" (click)="submit()">Submit</button>
        <button *ngIf="paramId" class="btn" (click)="update(paramId)">Update</button>
      </div>
    </div>
  </form>
</div>
