<app-main-top></app-main-top>
<div class="product-view">
  <div class="container-fluid">
    <div class="row  p-16">
      <!-- Side Bar Start -->
      <div class="col-md-2">
        <app-navbar></app-navbar>
      </div>
      <!-- Side Bar End -->
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <div class="product-view-top">
              <div class="row">
                <div class="col-md-4">
                  <div class="product-search">
                    <input type="text" placeholder="search" (keyup)="triggerSearch()" [(ngModel)]="keyword" />
                    <button><i class="fa fa-search"></i></button>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product-search">
                    <select>
                      <option disabled selected hidden>Product price range</option>
                      <option class="dropdown-item">$0 - $50</option>
                      <option class="dropdown-item">$51 - $100</option>
                      <option class="dropdown-item">$101 - $150</option>
                      <option class="dropdown-item">$151 - $200</option>
                      <option class="dropdown-item">$201 - $250</option>
                      <option class="dropdown-item">$251 - $300</option>
                      <option class="dropdown-item">$301 - $350</option>
                      <option class="dropdown-item">$351 - $400</option>
                      <option class="dropdown-item">$401 - $450</option>
                      <option class="dropdown-item">$451 - $500</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product-search">
                    <select>
                      <option disabled selected hidden>Sort</option>
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4" *ngFor="let product of products; let i = index">
            <div class="product-item">
              <div class="product-title">
                <a routerLink="/product-detail/{{ product?.id }}">{{
                  product?.name
                  }}</a>
                <div class="ratting">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <div class="product-image">
                <a routerLink="/product-detail/{{ product?.id }}">
                  <img src="{{ product.image }}" height="600px" alt="Product Image" />
                </a>
                <div class="product-action">
                  <a (click)="add2cart(1, product)"><i class="fa fa-cart-plus"></i></a>
                  <a href="#"><i class="fa fa-heart"></i></a>
                  <a routerLink="/product-detail/{{ product?.id }}"><i class="fa fa-search"></i></a>
                </div>
              </div>
              <div class="product-price">
                <h3><span>$</span>{{ product?.price }}</h3>
                <a class="btn" (click)="add2cart(1, product)"><i class="fa fa-shopping-cart"></i>Buy
                  Now</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Pagination Start -->

        <!-- Pagination Start -->
      </div>
    </div>
  </div>
  <div class="col-md-12 p-16">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- Product List End -->

<!-- Brand Start -->
<app-brand></app-brand>
<!-- Brand End -->

<app-main-footer></app-main-footer>