<app-top-left></app-top-left>

<div class="detail">
    <form [formGroup]="myForm" class="mat-elevation-z8 ok" enctype="multipart/form-data">
        <div class="link-nav">
            <a routerLink="/admin/orders">
                <i class="material-icons">keyboard_backspace</i> Back
            </a>
            <h1>Orders</h1>
             <span *ngIf="!paramId">Edit</span>
        </div>

        <div class="row">
            <div class="col-md-4 mb-1em">
                <label>Payment Method</label>
                <div>
                    <mat-select class="form-control" formControlName="paymentMethod">
                        <mat-option *ngFor="let cat of categoriess" [value]="cat.value">
                          {{cat.label}}
                      </mat-option>
                    </mat-select>
                    <small class="error" *ngIf="f.paymentMethod.invalid && (f.paymentMethod.dirty || f.paymentMethod.touched)">*Required</small>
                </div>
            </div>
            <div class="col-md-4">
              <label>Phone User</label>
              <input class="form-control" formControlName="phone" type="text">
              <small class="error" *ngIf="f.phone.invalid && (f.phone.dirty || f.phone.touched)">*Required</small>
          </div>

            <div class="col-md-4">
                <label>First Name</label>
                <input class="form-control" formControlName="firstName" type="text">
                 <small class="error" *ngIf="f.firstName.invalid && (f.firstName.dirty || f.firstName.touched)">*Required</small>
            </div>

            <div class="col-md-4">
              <label>Last Name</label>
              <input class="form-control" formControlName="lastName" type="text">
               <small class="error" *ngIf="f.lastName.invalid && (f.lastName.dirty || f.lastName.touched)">*Required</small>
          </div>

            <div class="col-md-4">
              <label>Address</label>
              <input class="form-control" formControlName="address">
              <small class="error" *ngIf="f.address.invalid && (f.address.dirty || f.address.touched)">*Required</small>
          </div>

          <div class="col-md-4">
            <label>Email</label>
            <input class="form-control" formControlName="email">
            <small class="error" *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">*Required</small>
          </div>
        </div>

        <div class="row mt-4" *ngIf="!paramId">
          <div class="col-lg-12">
            <div class="row shop-listing">
              <table class="table shop-table">
                <tr>
                  <th class="b-0">Product name</th>
                  <th class="b-0">Price</th>
                  <th class="b-0">Quantity</th>
                  <th class="b-0 text-center">Total</th>
                </tr>
                <tr *ngFor ="let cat of categories ">
                  <td>{{cat.label}}</td>
                  <td>{{cat.price}}</td>

                  <td>
                    <button class="btn btn-primary btn-sm" (click)="increamentQTY(cat.value,-1)">-</button>
                    {{cat.quantity}}
                    <button class="btn btn-primary btn-sm" (click)="increamentQTY(cat.value,1)">+</button>
                  </td>

                  <td class="text-center">
                    <label class="font-medium">{{ cat.Total }}</label>
                  </td>
                </tr>
                <!-- <tr *ngFor ="let cat of categories ">
                  <td colspan="1" align="center"></td>
                  <td></td>
                  <td colspan="1" align="">Total quantity :{{cat.quantity}}</td>
                  <td colspan="1" align="center">total money :</td>

                </tr> -->
              </table>
            </div>
          </div>
        </div>


        <div class="col-md-12 txt-center">
          <button *ngIf="paramId" class="btn" (click)="submit()" [disabled]="this.myForm.invalid" >Submit</button>
          <button *ngIf="!paramId" class="btn" (click)="update()" [disabled]="this.myForm.invalid">Update</button>
      </div>
    </form>
</div>



